/*
  Aquí van tus estilos o los @import './tus/ficheros'
*/

body {
  background-color: lightblue;
}

.img {
  width: 100%;
  height: 500px;
}

.imgCards {
  width: 100%;
  height: 80%;
}

.container {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  
}

.cards {
  margin: 10px;
  padding: 10px;
  background-color: burlywood;
  color: brown;
}

.listings {
  display: flex;
  justify-content: space-between;
}

.title_character {
  margin-left: 40%;
}

.favorite {
  background-color: rgb(193, 165, 221);
  color: white;
}

.form {
  position: relative;
  bottom: 30px;
  left: 100px;
  height: 50px;
}

.formInputText {
  width: 500px;
  height: 50px;
  
}

.formBtn {
  background-color: blue;
  color: white;
  margin-left: 10px;
  height: 30px;
  width: 80px;
  border-radius: 10px;
}

.colocar {
  display: grid;
  grid-template-columns: 70% 30%;
}